@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@theme {
    --font-roboto-mono: 'Roboto Mono', monospace;

    --color-primary: oklch(0.32 0 0);
    --color-secondary: oklch(0.63 0 0);
    --color-third: oklch(0.45 0 0);
    --color-four: oklch(0.37 0 0);
}

@layer base {
    html {
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
        color: var(--color-primary);
    }
}
